# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# тестовые запросы к БД
*.test.sql

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

*.env
*/.*

# Go workspace file
go.work
go.work.sum

# env file
#bp-service/.env

# Editor/IDE
.idea/
.vscode/
